
.pricingPageContainer{
    display: flex;
    flex-direction: column;
    background: var(--tk-gradient-soft);
}

.pricingNavContainer{
        padding: 0 var(--tk-spacing-xxxlarge);
        border-bottom: .3px solid var(--primary-text);
}