
.sidebar{
    min-width: 240px;
    height: 100vh;
    border-right: 1px solid #E8E8E8;
    background-color: var(--dashboard-primary-background);
}

.userInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 12px;
    border-bottom: 1px solid var(--dashboard-borders);
}

.userProfile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

.userProfile:hover{
    cursor: pointer;
    background-color: var(--dashboard-buttons-hover);
    transition: all ease .3s;
}

.userIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    padding: 6px;
    border-radius: 6px;
    background-color: var(--dashboard-userIcon-color);
}

.firstLetter{
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.usernameContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.downArrowIcon{
    font-size: 14px;
    color: var(--dashboard-icons-color);
}

.username{
    font-size: 16px;
    color: var(--dashboard-primary-text);
    font-weight: 600;
}

.sidebarIconContainer{
    width: 32px;
    height: 32px;
    background-color: var(--dashboard-buttons-hover);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarIcon{
    font-size: 18px;
    color: var(--dashboard-icons-color);
}


.sidebarNavContainer{
    border-bottom: 1px solid var(--dashboard-borders);
}

.sidebarNav{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 8px;
    margin-top: 8px;
    padding-bottom: 8px;
}

.sidebarNavLink{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebarNavLink:hover{
    cursor: pointer;
    background-color: var(--dashboard-buttons-hover);
    transition: all ease .3s;
}

.sideIcon{
    color: var(--dashboard-icons-color);
    font-size: 16px;
}

.navTexts{
    color: var(--dashboard-primary-text);
    font-size: 14px;
}
