.landingPageContainer {
    position: relative;
}

.landingPageHero {
    background: var(--tk-gradient-soft);
    width: 100%;
}

.topBannerContainer {
    padding: var(--tk-spacing-large) var(--tk-spacing-xxxlarge) var(--tk-spacing-xsmall) var(--tk-spacing-xxxlarge);
    width: 100%;
}

.navbarContainer {
    padding: 0 var(--tk-spacing-xxxlarge);
    width: 100%;
    border-bottom: .5px solid var(--primary-text);
}

.heroSection {
    padding: var(--tk-spacing-xlarge) var(--tk-spacing-xxxlarge);
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroSectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 50%;
    height: 100%;
    padding-top: 80px;
    padding-left: 64px;
}

@media (max-width: 1534px) {
    .heroSectionLeft {
        padding-left: 0;
    }
}

.mainHeading {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.topHeading {
    font-size: 96px;
    font-weight: 800;
    line-height: 5.8rem;
    letter-spacing: -4px;
    color: var(--primary-text);
}

.middleHeading {
    display: flex;
    align-items: start;
    position: relative;
}

.middleHeadingLeft {
    display: flex;
    gap: 15px;
    width: 48%;
}

.middleHeadingRight {
    display: flex;
    gap: 15px;
    width: 50%;
}

.middleHeadingIcon {
    border: 1px solid var(--primary-text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    min-width: 50px; 
    min-height: 50px; 
    padding: 0; 
    box-shadow: 4px 4px 0 0 var(--primary-text);
}

.folderIcon {
    color: var(--primary-text);
    width: 28px;
    height: 28px;
    font-weight: 100;
}

.middleHeadingText {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.middleSubHeading {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-text);
    line-height: 1.5rem;
}

.middleSubText {
    font-size: 12px;
    color: var(--primary-text);
}

.ctaContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ctaText {
    font-size: 12px;
    color: var(--primary-text);
    opacity: .6;
}

.headingBottom {
    display: flex;
    align-items: start;
    gap: 10px;
}

.bottomLeft, .bottomRight {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50%;
}

.bottomHeading {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-text);
    opacity: .7;
}

.bottomSubHeading {
    font-size: 12px;
    color: var(--primary-text);
    opacity: .6;
}

.heroSectionRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.heroSectionImageContainer {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 40px;
}

.heroSectionImage {
    height: 600px;
    object-fit: contain;
    object-position: center;
}

.rightBottom {
    width: 100%;
    align-items: start;
    display: flex;
    gap: 20px;
    padding-left: 100px;
}

.infoSectionTop {
  top: 0;
  z-index: 100;
  background-color: var(--landing-background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid rgb(181 178 201);
  border-bottom: 1px solid rgb(181 178 201);
  padding: 0px 64px;
}

.infoMenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.3rem 1rem;
    background-color: var(--landing-background);
    border-right: 1px solid rgb(181 178 201);
    cursor: pointer;
    transition: all 0.2s ease;
}

.infoMenu:last-child {
    border-bottom: none;
}

.infoMenu:nth-child(4n) {
    border-right: 1px solid rgb(181 178 201);
}

.infoSectionTop > .infoMenu:first-child {
    border-left: 1px solid rgb(181 178 201);
}

.infoMenuTop {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-dark-text);
}

.infoMenuBottom {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-dark-text);
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 64px;
}

.infoContainer {
    border-left: 1px solid rgb(181 178 201);
}

.informationImageContainer {
    width: 100%;
    border-right: 1px solid rgb(181 178 201);
    border-bottom: 1px solid rgb(181 178 201);
}

.informationImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardImage{
    width: 90%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.aiInsightsImage{
    height: 600px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.newTradeImage{
    width: 90%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.infoImage {
    border-radius: 12px;
}

.stats {
    display: none;
}

@media (max-width: 1534px) {
    .information {
        padding: 0;
    }
    .infoSectionTop {
        padding: 0;
    }
}

@media (max-width: 1353px) {
    .topHeading {
        font-size: 80px;
    }
    .heroSectionLeft {
        padding-top: 20px;
    }
    .middleHeading {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .middleHeadingLeft, .middleHeadingRight {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .infoMenuTop {
        font-size: 12px;
    }
    .infoMenuBottom {
        font-size: 16px;
    }
}

@media (max-width: 1071px) {
    .heroSection {
        flex-direction: column;
        align-items: center;
    }
    .heroSectionLeft {
        width: 100%;
        gap: 30px;
    }
    .heroSectionRight {
        display: none;
    }
    .stats {
        display: block;
    }
    .stats .rightBottom {
        padding-left: 0;
        gap: 10px;
    }
}

@media (max-width: 883px) {
    .infoSectionTop {
        display: block;
        grid-template-columns: 1fr;
        padding: 0;
    }
    
    .infoMenu {
        border-right: none;
        border-left: none;
        border-bottom: 1px solid rgb(181 178 201);
    }
    
    .mobileDrawerHeader {
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgb(181 178 201);
        z-index: 101;
        background-color: var(--landing-background);
    }
    
    .mobileDrawerHeaderContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .mobileDrawerContent {
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        z-index: 100;
    }
    
    .mobileDrawerContent.drawerOpen {
        max-height: 500px;
        transition: max-height 0.3s ease-in;
    }
    
    .infoMenu.activeMenu {
        position: sticky;
        top: 0;
        z-index: 102;
    }
    
    .infoMenu.activeMenu.mobileDrawerHeader {
        z-index: 103;
    }
    .information{
        grid-template-columns: 1fr;
    }
    .informationImageContainer{
        width: 100%;
        height: 400px;
    }
    .section0{
        order: 2;
    }
    .image0{
        order: 1;
    }
    .section1{
        order: 4;
    }
    .image1{
        order: 3;
    }
    .section2{
        order: 6;
    }
    .image2{
        order: 5;
    }
    .section3{
        order: 8;
    }
    .image3{
        order: 7;
    }
}

@media (max-width: 699px){
    .heroSectionLeft{
        justify-content: start;
    }
    .stats{
        display: none;
    }
    .heroSection{
        height: 620px;
    }
}

@media (max-width: 608px){
    .topHeading{
        font-size: 65px;
        line-height: 3.9rem;
        letter-spacing: -1px;
    }

    .middleSubHeading{
        font-size: 20px;
    }
    .topBannerContainer{
        padding: 0;
    }
    .navbarContainer{
        padding: 0 var(--tk-spacing-medium);
    }
    .heroSection{
        padding: 32px 16px;
    }
}

@media (max-width: 465px){
    .topHeading{
        font-size: 50px;
        line-height: 2.6rem;
        letter-spacing: -1px;
    }
}

.pricingContainer{
    padding: 80px 0;
    width: 100%;
    background-color: #E7F4DF;
}

.footerContainer {
    padding: 0 var(--tk-spacing-xxlarge);
    width: 100%;
    background-color: #18172B;
    color: var(--landing-background);
}

@media (max-width: 608px){
    .footerContainer{
        padding: 0 20px;
    }
}


.stickyHeader {
  position: sticky; 
  top: 0;
  z-index: 100;
}

.mobileDrawerHeader.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 101; 
}